.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container a {
  text-decoration: none;
}

.logo {
  height: 7rem;
  margin-bottom: 4rem;
  border-radius: 150px;
}

.ios .container {
  margin-right: 1rem;
  margin-left: 0;
}

.container {
  margin-right: 1rem;
  margin-left: 1rem;
}

.button {
  margin-top: 1.25rem;
}

.button-left {
  border-right: 1px solid #d7d8da
}
