<ion-header [translucent]="true"></ion-header>
<ion-content [fullscreen]="true" padding>

  <div id="container" class="container">
    <img alt="logo" class="logo" src="assets/logo.png">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-row class="button">
      <ion-col width-50 class="button-left">
        <a [routerLink]="['/signup']">SIGN UP</a>
      </ion-col>
      <ion-col width-50>
        <a (click)="login()">LOGIN</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
