<ion-header>
  <ion-toolbar>
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <span class="timezone">{{this.weather?.location?.name}} {{this.weather?.location?.localtime| date:'shortTime' }}
        </span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Weather </p>
      <p> Condition: {{this.weather?.current?.condition?.text}}</p>
      <p> Temp: {{this.weather?.current?.temp_c}}<span>&#8451;</span></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        QR Payment
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="button">
        <ion-col (click)="generateQR()" width-50 class="button-left">
          <a>GENERATE QR</a>
        </ion-col>
        <ion-col width-50 (click)="readQR()">
          <a>SEND MONEY</a>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Accounts
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngFor="let account of accounts">
      <p> Number: {{account.accountNumber}}</p>
      <p> Amount: {{account.amount| number}} {{account.currency}}</p>
      <p> Type: {{account.type}}</p>
      <p> Status: <span *ngIf="account.active; else inactive" class="active"> Active</span> </p>
      <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>
<ng-template #inactive>
  <span class="inactive">Inactive</span>
</ng-template>
