.timezone {
  display: block;
  text-align: right;
}

ion-card-content p:not(:first-child) {
  font-size: 0.75rem;
}

.active {
  color: #69bb7b;
}

.inactive {
  color: #eb445a;
}

ion-item-divider {
  min-height: 1px;
}

.button-left {
  border-right: 1px solid #d7d8da;
}

.button {
  text-align: center;
}
