<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>SEND MONEY</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding>

  <div id="container" class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          Accounts
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p> To: {{account.accountNumber}}</p>
        <p *ngIf="account.qrAmount>0;"> Amount: {{account.qrAmount| number}} {{account.currency}}</p>
        <p> Type: {{account.type}}</p>
        <div *ngIf="account.qrAmount==0">
          <p>Currency: {{account.currency}}</p>
          <ion-item>
            <ion-label position="floating">Amount</ion-label>
            <ion-input type="number" [(ngModel)]="amount" required pattern="^0*[1-9]\d*$" min="1"></ion-input>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-row class="button" (click)="sendMoney()" *ngIf="account.qrAmount>0||amount>0">
      <a>CONFIRM</a>
    </ion-row>
  </div>
</ion-content>
