<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" padding>

  <ng-container id="container" class="container" *ngIf="!qrGenerated; else qrCode">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <span>Setup your QR</span>
        </ion-card-title>
        <ion-card-subtitle *ngIf="!accountSelected"> Select your account</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Accounts</ion-label>
          <ion-select [(ngModel)]="accountSelected" (ionChange)="resetAmount()">
            <ng-container *ngFor="let account of accounts">
              <ion-select-option *ngIf="account.active" [value]="account">
                {{account.type}} - {{account.lastNumber}}
              </ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <ion-item-group *ngIf="accountSelected">
          <p class="currency">Currency:{{accountSelected.currency}}</p>
          <ion-item lines="none">
            <ion-label>With amount</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="checkAmount" (ionChange)="resetAmount()"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="checkAmount">
            <ion-label position="floating">Amount</ion-label>
            <ion-input type="number" [(ngModel)]="accountSelected.qrAmount" required pattern="^0*[1-9]\d*$" min="1">
            </ion-input>
          </ion-item>

        </ion-item-group>
      </ion-card-content>
    </ion-card>

    <ion-row class="button" (click)="generateQR()"
      *ngIf="accountSelected && ((checkAmount && accountSelected.qrAmount>0) || (!checkAmount && accountSelected.qrAmount>=0))">
      <a>GENERATE</a>
    </ion-row>
  </ng-container>

  <ng-template #qrCode>
    <div id="container" class="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <span>QR code</span>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ngx-qrcode [value]="qrData"></ngx-qrcode>
        </ion-card-content>
      </ion-card>
    </div>
    <ng-template>
